/*designed by sara*/
 @charset "utf-8";
/*css document*/

 body{ 
	background-image: url("../img/bk.jpg");
  background-color: #000000;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
 }
 section{
 	width: 100vw;
 	height: 5vh;
 	float:left;
 	animation-name: fade-in;
 	animation-duration: 1s;
 	animation-fill-mode: backwards;
	-moz-animation-name:fade-in;
	-moz-animation-duration:1s;
	-moz-animation-fill-mode:backwards;
	-ms-animation-name:fade-in;
	-ms-animation-duration:1s;
	-ms-animation-fill-mode:backwards;
	-o-animation-name:fade-in;
	-o-animation-duration:1s;
	-o-animation-fill-mode:backwards;
	-webkit-animation-name:fade-in;
	-webkit-animation-duration:1s;
	-webkit-animation-fill-mode:backwards;

 }

 @keyframes fade-in{
 	0%  {opacity: 0;}
 	100% {opacity: 1;}

 }

   .red{background-color: red;
   }

   .orange{background-color: orange;
 	animation-delay: 1s;
}

   .yellow{background-color: yellow;
 	animation-delay: 2s;}

   .green{background-color: green;
 	animation-delay: 3s;}

   .cyan{background-color: cyan;
 	animation-delay: 4s;}

   .blue{background-color: blue;
 	animation-delay: 5s;}

   .purple{background-color: purple;
 	animation-delay: 6s;}



			.block {
				position: absolute;
				background-image: url("../img/box.jpg");
				background-position: center;
     		background-repeat: no-repeat;
 			  background-size: cover;
				left: 50px;
				width: 90px;
				height: 90px;
				margin: 5px;
			}
			

			#green1 {
				background-color: rgb(161, 232, 89);
				width: 20vw;
				height: 5vh;
				text-align: center;
				border: 5px solid rgb(69, 189, 69);
				margin: 3px;
				font-size: 14px;
			}
			#green2 {
				background-color: rgb(149, 255, 145);
				width: 20vw;
				height: 5vh;
				text-align: center;
				border: 5px solid rgb(55, 255, 0);
				margin: 3px;
				font-size: 14px;
			}
			button {
				font-size: 90%;
				background-color: rgb(255, 174, 0);
			}
			#green{
				margin-top: 10%;
			}


