.carousel img {
    max-height: 500px;
}
body{
        background-image: url("img/bk.jpg"); /* The image used */
        background-color: #aec7ce;
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        
      }
    
.intelezi{margin-top: 10%;}