@import url('https://fonts.googleapis.com/css?family=Passion+One');
*{
  font-family:  Arial, Helvetica, sans-serif; /*worked*/
  margin: 0;
  padding: 0;}
.carousel img {
    max-height: 500px;
}
body{
  background-image: url("img/bk.jpg"); /* The image used */
  /*put every thing in container,row, column*/
  background-color: white;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container or I can use contain*/
  min-height: 100vh;
}

    
.intelezi{margin-top: 10%;
font-family: 'Passion One', cursive;
}
h1{
  font-family: 'Passion One', cursive;
}

.shadow{text-shadow: 2px 2px black;}
.modal-title{width: 100%;}
.pics{
  margin-top: 3%;
}
.carousel-pauser{
  margin-top: 1%;
}
.parallax{
  height: 30vw;
  background-image: url(img/first.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  
  }
  input[type="text"]{
      width: 25vw;
  }
  textarea{
      width: 53vw;
  }
  .parallax2{
      height: 40vw;
  background-image: url(img/nbn.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: black;
  display: flex;
  align-items: center;
  
  }
  .parallax2 h2{
      color: blueviolet;
      padding-bottom: 5vh;
  
  }
  .parallax2 p{
      color: black;
      font-size: 1.3vw;
  }
  .cols3{
      position: relative;
  }
  .count{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding-top: 12vh;
  }
  .footer{
      background-color: #0097d1;
      color: aliceblue;
      height: 10vh;
      position: relative;
  }
  .rights{
      position: absolute;
      bottom: 0;
  }
  iframe{
    margin-top: 1%;
    margin-bottom: 2%;
  }
  .logo{
    width: 20%;
    height: 20%;
  }
  .about{
    width: 70%;}
  
  .row-table{

    margin-left: 10%;
  }
  iframe{

    width: 90vw;
     height : 80vh;

  }
  @media (max-width: 767.98px) { 

    iframe{
      
    }


  }